# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Flask
instance/
.webassets-cache

# Generated Content
app/static/cotizaciones/pdf/
app/static/media/
!app/static/media/.gitkeep

# Logs
*.log

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
