# Entorno virtual
venv/
env/

# Archivos de configuración sensible
*.env
*.key
*.pem
*.crt

# Archivos de la base de datos
*.sqlite3
*.db

# Archivos de Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Archivos de IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs y archivos temporales
*.log
*.tmp

# Archivos de caché de pip
.pip_cache/

# Archivos de dependencias
node_modules/
bower_components/

# Archivos de Flask
instance/

# Archivos de SQLAlchemy
migrations/

# Archivos de PostgreSQL
*.pgdump
*.pgrestore

# Archivos de imágenes y multimedia
*.jpg
*.png
*.gif
*.mp4

# Archivos de compilación
*.mo
*.pot

# Archivos de pruebas
.coverage
htmlcov/