:root {
    --color-principal: #f9f9f9;  
    --color-secundario: #0e1b33; 
    --color-gris: #9b9b9b ;
    --color-negro: #000000;
    --color-transicion: #2a4d69;
    --color-red:  red;
  }

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--color-principal); /* Fondo claro */
    color: var(--color-secundario); /* Texto color azul oscuro */
    font-family: 'Arial', sans-serif;
    text-align: center;
}

h1 {
    font-size: 5rem;
    margin: 10px 0;
}

p {
    font-size: 2rem;
    margin: 10px 0;
}

img {
    width: 350px; /* Ajusta el tamaño del logo */
    height: auto;
    margin-bottom: 20px;
}