@import url('variables.css');

body {
    background-color: var(--color-fondo-form);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-negro);
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

a.btn-primary {
    background-color: var(--color-primario);
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    color: #fff;
    text-decoration: none;
}

a.btn-primary:hover {
    background-color: var(--color-primario-oscuro);
    color: #fff;
}


.table {
    border-radius: 0.2rem;
    overflow: hidden;
}

.table thead th {
    background-color: var(--color-primario);
    font-weight: bold;
    text-align: center;
    color: var(--color-fondo);
}

.table td, .table th {
    text-align: center;
    vertical-align: middle !important;
    padding: 0.75rem;
    color: var(--color-negro);
}
.table tbody tr:hover {
    background-color: var(--color-gris-claro);
}

.card {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    background-color: var(--color-blanco);
    margin-top: 5%;
}

.badge-success {
    background-color: var(--color-exito);
    font-size: 0.95rem;
    font-weight: bold;
    padding: 0.4rem 0.8rem;
    border-radius: 2rem;
    color: var(--color-fondo);
}

.badge-danger {
    background-color: var(--color-eliminar);
    font-size: 0.95rem;
    padding: 0.4rem 0.8rem;
    border-radius: 2rem;
    color: var(--color-fondo);
    font-size: 0.95rem;
    font-weight: bold;
}

/* ======================
   BOTON EDITAR
   ====================== */
a.btn-sm.btn-primary {
    background-color: var(--color-primario);
    border-radius: 0.4rem;
    padding: 0.4rem 0.6rem;
    color: white;
    transition: background-color 0.3s ease;
}

a.btn-sm.btn-primary:hover {
    background-color: var(--color-primario-oscuro);
    color: white;
}