@import url('Variables\ de\ color.css');

* {
    box-sizing: border-box;
    font-family: 'Open Sans';
    padding: 0;
    margin: 0;
}

#logo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px; /* opcional */
    font-family: 'Cooper Black';
   
  }
  

/* Logo principal */
.logo_main {
    padding-top: 100px;
    height: 99px;
    position: static;
    padding: 5px;
    background: linear-gradient(45deg, var(--color-secundario), var(--color-secundario));
    color: var(--color-secundario);
    cursor: default;
    z-index: 10; /* Logo principal sobre otros elementos */
}

/* Logo pequeño */
.link{
    text-decoration: none; 
    color: var(--color-principal);
    font-family: 'Cooper Black';
}
.logo_small {
    display: inline-block;
    font-size: 17px; /* Tamaño ligeramente mayor */
    padding: 3px 5px; /* Espaciado más equilibrado */
    margin-right: 25px;
    background-color: var(--color-crema); /* Fondo contrastante */
    border-radius: 6px; /* Bordes redondeados */
    cursor: pointer;
    z-index: 11; /* Mantiene el logo por encima de otros elementos */
    box-shadow: 0px 4px 6px var(--color-negro); /* Sombra ligera */
    transition: all 0.3s ease; /* Suaviza las interacciones */
}
.link{
    color: var(--color-red);
}
.logo_small:hover {
    transform: scale(1.1); /* Efecto de crecimiento */
    box-shadow: 0px 6px 6px var(--color-negro); /* Sombra más pronunciada */
}
/* Barra de navegación */
.nav {
    z-index: 20; /* Barra de navegación sobre el contenido */
    float: left;
    width: 100%;
    background: var(--color-secundario);
    padding: 0 20px;
    transition: .3s ease all;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

/* Wrapper de la navegación */
.nav .wrap {
    position: relative;
    left: -215px; /*Modificar esta margen cuando el logo_small es demaciado grande y sobre sale*/
    transition: 0.4s ease all;
    z-index: 21; /* Wrapper de la navegación sobre el menú */
    
}

nav {
    display: inline-block;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav a {
    display: block;
    padding: 20px;
    margin: 0;
    color: var(--color-principal);
    text-decoration: none;
    transition: 0.2s ease all;
}

nav a:hover {
    color: var(--color-red);
    background: var(--color-crema);
}

.main {
    background: var(--color-principal);
    padding: 80px;
    z-index: 5; /* Contenido principal sobre el footer */
}

/* Menú fijo */
body.nav_fixed .nav {
    position: fixed;
    top: 0;
}

body.nav_fixed .nav .wrap {
    left: 0;
}

/* Botón de menú */
.btn-menu {
    width: 60px;
    height: 60px;
    padding: 22px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--color-secundario);
    border-radius: 50%;
    color: var(--color-principal);
    cursor: pointer;
    transition: all 500ms cubic-bezier(1, 0, 0, 1);
    transform: translateX(100px);
    z-index: 02; /* Botón de menú sobre el footer */
}

.btn-menu:hover {
    transform: scale(1.2);
    background: var(--color-secundario);
}

/* MENU RESPONSIVO */
#logo {
    margin-left: 20px;
    margin-top: 0px;
    height: 900px;
    width: 130px;
    max-height: 100px;
    max-width: 190px;
}

@media screen and (max-width: 800px) {
    .btn-menu {
        transform: translateX(0px);
        z-index: 100;
    }

    .logo_main {
        display: none;
    }

    .nav {
        width: 60%;
        position: fixed;
        top: 0;
        height: 100vh;
        padding: 0px;
        transform: translateX(-100%);
        z-index: 20; /* Barra de navegación fija sobre el contenido */
    }

    .nav .wrap {
        left: 0;
        z-index: 21;
    }

    nav {
        width: 100%;
        position: absolute;
        top: 60px;
    }

    nav li {
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
    }

    .logo_small {
        position: absolute;
        top: 10px;
        left: 5px;
    }
    nav a {
        width: 100%;
        display: flex;
        padding: 20px;
        margin: 0;
    }

    .nav-toggle {
        transition: all 400ms cubic-bezier(1, 0, 0, 1);
        transform: translateX(0%);
    }

    .main {
        background: var(--color-principal);
        padding: 20px;
        z-index: 5;
    }
}


/* FOOTER */
.footer {
    width: 100%;
    background-color: var(--color-secundario);
    color: var(--color-principal);
    text-align: center;
    padding: 20px;
}




.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 0 auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}

.socials li {
    margin: 0 30px;
}

.socials a {
    text-decoration: none;
    color: var(--color-principal);
}

.socials a i {
    font-size: 1.1rem;
    transition: transform 0.4s ease; /* Cambiamos transition a transform */
}

.socials a:hover i {
    transform: scale(1.5); /* Hacemos que el icono crezca un 20% */
}

.footer-bottom {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    color: var(--color-principal);
    margin-top: 10px;
    letter-spacing: 1px;
}
.empresa {
    font-size: 14px;
    word-spacing: 2px;
    color: var(--color-principal);
    margin-top: 10px;
    letter-spacing: 1px;
}

.empresa:hover{

    color: var(--color-secundario);
}

/* Estilos para el botón de chat */
.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999; /* Asegúrate de que esté por encima de otros elementos */
}

.chat-button a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-verde); 
    color: var(--color-principal);
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0px 4px 6px var(--color-negro);
}

.chat-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.chat-button span {
    font-size: 16px;
}
/* Estilos para dispositivos móviles */
@media screen and (max-width: 800px) {
    .chat-button {
        bottom: 85px; /* Sube el botón para que no se superponga con el menú */
        right: 16px;
    }

    .chat-button a {
        padding: 10px; /* Reduce el padding */
    }

    .chat-button span {
        display: none; /* Oculta el texto en móviles */
    }

    .chat-button img {
        width: 40px; /* Aumenta el tamaño del ícono */
        height: 40px;
        margin-right: 0; /* Elimina el margen derecho */
    }
}