@import url('variables.css');


* {
    box-sizing: border-box;
    font-family: 'Open Sans';
    padding: 0;
    margin: 0;
}


/* Logo */
.logo {
    font-family: 'Cooper Black';
    font-size: 70px;
}

/* Logo principal */
.logo_main {
    padding-top: 100px;
    height: 110px;
    position: static;
    padding: 5px;
    background: linear-gradient(45deg, var(--color-fondo), var(--color-secundario));
    color: var(--color-secundario);
    cursor: default;
    z-index: 10; /* Logo principal sobre otros elementos */
}

/* Logo pequeño */
.logo_small {
    display: inline-block;
    font-size: 18px; /* Tamaño ligeramente mayor */
    padding: 3px 5px; /* Espaciado más equilibrado */
    margin-right: 30px;
    color: var(--color-fondo); /* Mantiene el color principal */
    background-color: #4A4A4A; /* Fondo contrastante */
    border-radius: 6px; /* Bordes redondeados */
    cursor: pointer;
    z-index: 11; /* Mantiene el logo por encima de otros elementos */
    box-shadow: 0px 4px 6px var(--color-secundario); /* Sombra ligera */
    transition: all 0.3s ease; /* Suaviza las interacciones */
}

.logo_small:hover {
    color: var(--color-fondo); /* Cambio a blanco puro */
    background-color: var(--color-secundario); /* Color de fondo resaltado */
    transform: scale(1.2); /* Efecto de crecimiento */
    box-shadow: 0px 6px 6px var(--color-secundario); /* Sombra más pronunciada */
}



/* Barra de navegación */
.nav {
    z-index: 20; /* Barra de navegación sobre el contenido */
    float: left;
    width: 100%;
    background: var(--color-secundario);
    color: var(--color-fondo);
    padding: 0 20px;
    transition: .3s ease all;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

/* Wrapper de la navegación */
.nav .wrap {
    position: relative;
    left: -150px;
    transition: 0.4s ease all;
    z-index: 21; /* Wrapper de la navegación sobre el menú */
}

nav {
    display: inline-block;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav a {
    display: block;
    padding: 20px;
    margin: 0;
    color: var(--color-fondo);
    text-decoration: none;
    transition: 0.2s ease all;
}

nav a:hover {
    color: var(--color-fondo);
    background: var(--color-secundario);
}

.main {
    background: var(--color-fondo);
    padding: 80px;
    z-index: 5; /* Contenido principal sobre el footer */
}

/* Menú fijo */
body.nav_fixed .nav {
    position: fixed;
    top: 0;
}

body.nav_fixed .nav .wrap {
    left: 0;
}

/* Botón de menú */
.btn-menu {
    width: 60px;
    height: 60px;
    padding: 22px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--color-secundario);
    border-radius: 50%;
    color: var(--color-fondo);
    cursor: pointer;
    transition: all 500ms cubic-bezier(1, 0, 0, 1);
    transform: translateX(100px);
    z-index: 02; /* Botón de menú sobre el footer */
}

.btn-menu:hover {
    transform: scale(1.2);
    background: var(--color-secundario);
}

/* MENU RESPONSIVO */
#logo {
    margin-left: 20px;
    margin-top: 0px;
    height: 900px;
    width: 130px;
    max-height: 100px;
    max-width: 190px;
}

@media screen and (max-width: 800px) {
    .btn-menu {
        transform: translateX(0px);
        z-index: 100;
    }

    .logo_main {
        display: none;
    }

    .nav {
        width: 60%;
        position: fixed;
        top: 0;
        height: 100vh;
        padding: 0px;
        transform: translateX(-100%);
        z-index: 20; /* Barra de navegación fija sobre el contenido */
    }

    .nav .wrap {
        left: 0;
        z-index: 21;
    }

    nav {
        width: 100%;
        position: absolute;
        top: 60px;
    }

    nav li {
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
    }

    .logo_small {
        position: absolute;
        top: 10px;
        left: 5px;
    }

    nav a {
        width: 100%;
        display: flex;
        padding: 20px;
        margin: 0;
    }

    .nav-toggle {
        transition: all 400ms cubic-bezier(1, 0, 0, 1);
        transform: translateX(0%);
    }

    .main {
        background: var(--color-fondo);
        padding: 20px;
        z-index: 5;
    }
}

/* FOOTER */
.footer {
    width: 100%;
    background-color: var(--color-secundario)   ;
    color: var(--color-fondo);
    text-align: center;
    padding: 20px;
}




.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 0 auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}

.socials li {
    margin: 0 30px;
}

.socials a {
    text-decoration: none;
    color: var(--color-fondo);
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: var(--color-gris);
}

.footer-bottom {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    color: var(--color-fondo);
    margin-top: 10px;
    letter-spacing: 1px;
}
.empresa {
    font-size: 14px;
    word-spacing: 2px;
    color: var(--color-fondo);
    margin-top: 10px;
    letter-spacing: 1px;
}


