:root {
    --color-principal: #f9f9f9;  
    --color-secundario: #c6302c; 
    --color-gris: #9b9b9b ;
    --color-negro: #000000;
    --color-transicion: #ee827f;
    --color-red:  #c6302c;
    --color-crema:#fffcef;
    --color-verde: #28a745 ;
  }