{%extends './plantillaindex.html'%}
{%block titulo%}{{datosApp.titulo}}{%endblock%}  
{{ url_for('static', filename='img/Logo.PNG') }}
{%block LinkAdicional%} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/servicios.css') }}">
{%endblock%} 
{%block body%} 
  <h1>Nuestros Servicios</h1>
  <section class="servicios">
    <div class="servicio">
        <div class="texto">
            <h2>Mantenimiento de software y hardware</h2>
            <p>Mantén tus equipos funcionando como nuevos con nuestro servicio de mantenimiento profesional. Diagnosticamos y resolvemos problemas técnicos de manera rápida y eficiente para garantizar que tus sistemas estén siempre operativos y optimizados.</p>
        </div>
        <img src="https://www.segurmaniazurekin.eus/a/2023/02/segurmania_riesgos_actividades_mantenimiento_destacada.jpg" alt="Mantenimiento de computadoras">
    </div>
    <div class="servicio">
      <img src="https://www.segurmaniazurekin.eus/a/2023/02/segurmania_riesgos_actividades_mantenimiento_destacada.jpg" alt="Actualización de sistemas operativos">
        <div class="texto">
            <h2>Actualización de sistemas operativos</h2>
            <p>No te quedes atrás en el mundo digital. Te ayudamos a actualizar tus sistemas operativos a las últimas versiones, asegurando mayor velocidad, funcionalidad y seguridad. Maximiza el rendimiento de tus equipos con nuestras actualizaciones personalizadas.</p>
        </div>
    </div>
    <div class="servicio">
        <div class="texto">
            <h2>Automatización de procesos de negocios</h2>
            <p>Haz que tu empresa sea más productiva con la automatización de tareas clave. Diseñamos soluciones a medida que reducen errores, optimizan recursos y te permiten enfocarte en lo que realmente importa: hacer crecer tu negocio.</p>
        </div>
        <img src="https://www.segurmaniazurekin.eus/a/2023/02/segurmania_riesgos_actividades_mantenimiento_destacada.jpg" alt="Automatización de procesos de negocios">
    </div>
    <div class="servicio">
      <img src="https://www.segurmaniazurekin.eus/a/2023/02/segurmania_riesgos_actividades_mantenimiento_destacada.jpg" alt="Actualización de sistemas operativos">
        <div class="texto">
            <h2>Instalación de cableado estructurado</h2>
            <p>Garantiza una conexión eficiente y estable con nuestra instalación de cableado estructurado. Diseñamos y ejecutamos proyectos que cumplen con los más altos estándares, asegurando que tu infraestructura tecnológica sea robusta y preparada para el futuro.</p>
        </div>
    </div>
    <div class="servicio">
        <div class="texto">
            <h2>Sistemas de vigilancia</h2>
            <p>Protege lo que más importa con nuestras soluciones de vigilancia de última generación. Instalamos sistemas confiables y adaptados a tus necesidades, brindándote tranquilidad y control total las 24 horas del día.</p>
        </div>
        <img src="https://www.segurmaniazurekin.eus/a/2023/02/segurmania_riesgos_actividades_mantenimiento_destacada.jpg" alt="Sistemas de vigilancia">
    </div>
    <div class="servicio">
      <img src="https://www.segurmaniazurekin.eus/a/2023/02/segurmania_riesgos_actividades_mantenimiento_destacada.jpg" alt="Actualización de sistemas operativos">
        <div class="texto">
            <h2>Desarrollo web empresarial</h2>
            <p>Destaca en el mundo digital con páginas web empresariales diseñadas para impresionar. Creamos sitios modernos, funcionales y adaptados a tu negocio, ayudándote a captar más clientes y fortalecer tu presencia en línea.</p>
        </div>
    </div>
</section>
{%endblock%}